.appBarContainer {
  flex-grow: 1;

  .appBar {
    background-color: #345da1;

    .menuButton {
      margin-right: 20px;
    }

    .title {
      flex-grow: 1;
      display: block;
    }
  }
}

.searchBarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  Button {
    height: 40px;
    border-radius: 5px;
    margin-left: 10px;
    flex-shrink: 1;
    background-color: #345da1;
  }

  .searchBar {
    display: flex;
    flex-direction: row;
    align-items: center;

    .resetButton {
      background-color: #fff;
      border-color: #345da1;
      color: #345da1;
    }

    .deleteButton {
      margin-left: 0px;
      margin-right: 10px;
    }
  }
}

.dialogContainer {
  Button {
    height: 40px;
    border-radius: 5px;
    background-color: #345da1;
    margin-right: 10px;
  }

  .backButton {
    background-color: #fff;
    border: 1px solid #345da1;
    color: #345da1;
  }
}
